dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local

labyrinth

FIRSTFOLLOW.txt

test.txt

test2.txt

Loader2.hs

*.sublime-project

*.sublime-workspace
